<html>

<head>



	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="main.css">

</head>

<body>

	<img th:src="@{images/centrale.png}" widht="20%" />

	<h1 align="center">Ajout dun nouvel Etudiant </h1>

	<br><br>

	<form method="post" th:action="@{/save}">
		<div class="form-group">
			<label for="Nom">Nom</label>
			<input type="text" class="form-control"  name="nom" id="Nom" aria-describedby="Nom" placeholder="Enter Nom">

		</div>
		<div class="form-group">
			<label for="Age">Age</label>
			<input type="Nom" class="form-control" id="Age" name="age"  aria-describedby="Age" placeholder="Enter Age">

		</div>
		<div class="form-group">
			<label for="Email">Email</label>
			<input type="Email" class="form-control" id="Email"  name="email"  aria-describedby="Email" placeholder="Enter Email">

		</div>
		</div>
		
					<div class="form-group">
			<label for="adresse">Adresse</label>
			<input type="text" class="form-control" id="Adresse" name="adresse"  aria-describedby="adresse" placeholder="Enter adresse">

		</div>
		<div class="form-group">
			<label for="Tel">Tel</label>
			<input type="text" class="form-control" id="Tel" aria-describedby="Tel"  name="tel"  placeholder="Enter Tel">

		</div>
		


		<button type="submit" class="btn btn-primary">Submit</button>
	</form>


</body>




</html>